//font colors
$light-font-color: #fff;
$dark-font-color: #000;
$accent-font-color: #0abab5;

//font size
$main-font-size: 2rem;
$input-font-size: 1.5rem;
$caption-font-size: 1.5rem;
$caption-small-font-size: 1rem;

//background colors
$base-bg-color: #fff;
$accent-bg-color: #0abab5;
$light-bg-color: #f3f8f8;

//for big blocks/containers
$border-radius: 25px;
$padding: 25px;
$margin-x: 20px;
$margin-y: 20px;

//for small blocks/list elements
$small-margin-x: 10px;
$small-padding-y: 15px;
$small-padding-x: 10px;
$small-border-radius: 20px;
