//mixins
@mixin flex($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

//imports
@import "null_style";
@import "variables";
@import "fonts";
@import "header";
@import "container";

@media (min-width: 500px) {
  body {
    padding: 0;
  }
}

@media (min-width: 1000px) {
  body {
    padding: 0 10vw;
  }
}

@media (min-width: 1500px) {
  body {
    padding: 0 20vw;
  }
}
