//mixins
@mixin flex($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

//imports
@import "null_style";
@import "variables";
@import "fonts";
@import "header";
